
/* input:checked +p{
    background: red;
}

input:not(checked) + p{
    background: yellow;
}

p:not(.meio){
    color: blue;
} */



ul li:nth-child(odd){
    background-color: yellow;
}

ul li:nth-child(even){
    background-color: green;
}

ul li:nth-child(6){
    background-color: rebeccapurple;
}

ul li:nth-child(3n+8){
    background-color: rgb(255, 0, 225);
}
