.top3-jobs{
    margin-top: 16rem;
    margin-bottom: 8rem;
}

.top3-content{
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.top3-jobs h2{
    margin-bottom: 1rem;
    font-size: 4rem;
    text-transform: uppercase;

}

.grid-two{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid-two p{
    font-size: 2.2rem;
}

.grid-two h3{
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}

.grid-two h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}