.intro-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    align-items: center;
    height: 100vh;
}

.intro-text-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}